@import '../../node_modules/vue-select/dist/vue-select.css';

.vs__deselect {
    @apply ml-3;

    &:hover {
        @apply opacity-75;
    }
}

.vs__deselect > svg {
    fill: currentColor;
}

.vs__dropdown-option--selected {
    color: rgba(60, 60, 60, 0.5) !important;
    cursor: not-allowed !important;
    background: transparent !important;
}

.vs__dropdown-toggle {
    @apply rounded;
    @apply shadow-none;
    @apply border-0;
}