<script>
    import axios from 'axios';
    import swal from '../Mixins/swal';

    export default {
        name: 'FileUpload',

        mixins: [swal],

        inheritAttrs: false,

        props: {
            url: {
                required: true,
                type: String,
            },
            deleteUrl: {
                required: false,
                type: String,
                default: '',
            },
            value: {
                required: false,
                default: () => {
                    return undefined;
                },
            },
            inputClass: {
                required: false,
                default: 'form-input table-cell shadow w-full py-1',
            },
        },

        data() {
            return {
                file: this.value,
            };
        },

        activated() {
            this.file = this.value;
        },

        watch: {
            file: {
                handler() {
                    if (this.value !== undefined) {
                        this.$emit('input', this.file);
                    }
                },
            },
        },

        computed: {
            axios() {
                return axios;
            },
        },

        methods: {
            csrf() {
                let token = document.head.querySelector('meta[name="csrf-token"]');

                return token ? token.content : '';
            },
            triggerUploadFileExplorer() {
                this.$refs.file.click();
            },
            doUpload(event) {
                let files = event.target.files;
                if (files.length !== 1) {
                    return;
                }

                let data = new FormData();
                data.append('_token', this.csrf());
                data.append('upload', event.target.files[0]);

                this.swalLoading('', 'Uploading File...');

                this.axios.post(this.url, data, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                }).then((response) => {
                    this.file = response.data.url;

                    this.swalClose();
                    this.swalSuccess('', `Successfully uploaded file`);
                }).catch(() => {
                    this.$refs.file.value = '';

                    this.swalClose();
                    this.swalError('', `Failed to upload file`);
                });
            },
            deleteUpload() {
                this.swalConfirm('Confirm', 'Please confirm you wish to delete this file').then((result) => {
                    if (result.value) {
                        this.swalLoading('', `Deleting file...`);

                        // Send axios to delete file
                        this.axios.post(this.deleteUrl, {
                            url: this.file,
                        }).then(() => {
                            this.file = '';
                            this.$refs.file.value = '';

                            this.swalClose();
                            this.swalSuccess('', `Successfully deleted file`);
                        }).catch(() => {
                            this.swalClose();
                            this.swalError('', `Failed to delete file`);
                        });
                    }
                });
            },
        },
    };
</script>

<template>
    <div class="flex flex-row">
        <input :class="inputClass" class="rounded-r-none disabled"
               readonly="readonly" :value="file"
               v-bind="$attrs">
        <input class="hidden" type="file" ref="file" @change="doUpload">

        <button @click="triggerUploadFileExplorer" type="button"
                class="border border-blue-500 bg-blue-500 text-white rounded-md px-3 py-1 select-none focus:outline-none focus:shadow-outline rounded-l-none"
                :class="{'rounded-r-none': deleteUrl !== ''}">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
            </svg>
            <span class="hidden md:inline">Upload</span>
        </button>

        <button v-if="deleteUrl !== ''" @click="deleteUpload" type="button"
                class="border border-red-500 bg-red-500 text-white rounded-md px-3 py-1 select-none focus:outline-none focus:shadow-outline rounded-l-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
            </svg>
            <span class="hidden md:inline">Delete</span>
        </button>
    </div>
</template>