<script>
    import VSelect from 'vue-select';

    export default {
        name: 'InfiniteScroll',

        inheritAttrs: true,

        components: {VSelect},

        props: {
            options: {
                type: Array,
                required: true,
                default: function () {
                    return [];
                },
            },
            value: {
                required: false,
                default: null,
            },
        },

        data() {
            return {
                observer: new IntersectionObserver(this.infiniteScroll),
                limit: 15,
                search: '',
                selected: this.value,
            };
        },

        watch: {
            value(newValue) {
                this.selected = newValue;
            },
        },

        computed: {
            filtered() {
                return this.options.filter((option) => {
                    if (this.search) {
                        if (typeof option.label === 'string' || option.label instanceof String) {
                            return option.label.includes(this.search);
                        } else {
                            return option == this.search;
                        }
                    }
                    return true;
                });
            },
            paginated() {
                return this.filtered.slice(0, this.limit);
            },
            hasNextPage() {
                return this.paginated.length < this.filtered.length;
            },
        },

        methods: {
            getSelectedValue(item) {
                if (item) {
                    return this.$attrs['taggable'] ? item : item.value;
                } else {
                    return '';
                }
            },
            onOpen() {
                if (this.hasNextPage) {
                    this.$nextTick().then(() => {
                        if (this.$refs.load) {
                            this.observer.observe(this.$refs.load);
                        }
                    });
                }
            },
            onClose() {
                this.observer.disconnect();
            },
            onSearch(query) {
                this.search = query;
            },
            onSelect(selected) {
                this.selected = selected;
            },
            infiniteScroll([{isIntersecting, target}]) {
                if (isIntersecting) {
                    const ul = target.offsetParent;
                    const scrollTop = target.offsetParent.scrollTop;
                    this.limit += 15;
                    this.$nextTick().then(() => {
                        ul.scrollTop = scrollTop;
                    });
                }
            },
        },
    };
</script>

<template>
    <VSelect ref="select" v-bind="$attrs" v-on="$listeners" :options="paginated" :filterable="false"
             :value="selected" @input="onSelect" @open="onOpen" @close="onClose" @search="onSearch">
        <template #list-footer v-if="hasNextPage">
            <li ref="load" class="text-center">
                Loading more options...
            </li>
        </template>

        <template #footer v-if="$attrs['name']">
            <div v-if="$attrs['multiple']">
                <input type="hidden" v-if="selected.length > 0" v-for="item in selected" :name="`${$attrs['name']}[]`"
                       :value="getSelectedValue(item)">
                <input type="hidden" v-else :name="`${$attrs['name']}[]`" value="">
            </div>
            <div v-else>
                <input type="hidden" :name="$attrs['name']" :value="getSelectedValue(selected)">
            </div>
        </template>
    </VSelect>
</template>