<script>
    export default {
        name: 'ToggleableInput',

        inheritAttrs: false,

        props: {
            value: {
                required: false,
                default: () => {
                    return undefined;
                },
            },
            inputClass: {
                required: false,
                default: 'form-input table-cell shadow w-full py-1 rounded-r-none',
            },
        },

        data() {
            return {
                enabled: false,
                internalValue: this.value,
            };
        },

        activated() {
            this.enabled = false;
            this.internalValue = this.value;
        },

        watch: {
            internalValue: {
                handler() {
                    if (this.value !== undefined) {
                        this.$emit('input', this.internalValue);
                    }
                },
            },
        },

        computed: {
            computedInputClass() {
                let classList = this.inputClass + ' rounded-r-none focus:outline-none';

                if (!this.enabled) {
                    classList += ' disabled cursor-not-allowed';
                }

                return classList;
            },
        },

        methods: {
            toggle() {
                this.enabled = !this.enabled;
            },
        },
    };
</script>

<template>
    <div class="flex flex-row">
        <input :class="computedInputClass"
               v-model="internalValue"
               v-bind="$attrs" :readonly="!enabled">
        <button type="button" @click="toggle"
                :class="{'border-gray-500 bg-gray-500': !enabled, 'border-green-500 bg-green-500': enabled}"
                class="border text-white rounded-md px-3 py-1 select-none focus:outline-none focus:shadow-outline rounded-l-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01"></path>
            </svg>
            <span class="hidden md:inline">{{ enabled ? 'Disable' : 'Enable' }}</span>
        </button>
    </div>
</template>